.layout{
    // background: teal;
    flex-direction: column;
    .display-flex{
        display: flex;
    }
    .input,label,button{
        padding: 10px;
        width: 400px;
        margin: 20px;
        font-size: 18px;
        border: none;
    }
    button{
        background: teal;
        color: white;
        font-size: 20px;
    }
    // .link{
    //     background: teal;

    // }
    Button{
        margin-right: 100px;
    }
}