.navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    font-style: 14px;
    color: #555;

    .wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 15px;
        justify-content: space-between;
        .avater {
            width: 100px;
            height: 50px;
        }

        .search {
            align-content: center;
            justify-content: center;
            border: 0.5px solid lightgray;
            padding: 3px;
            input {
                border: none;
                outline: none;
                background-color: transparent;

                &::placeholder {
                    font-size: 20px;
                }
            }
        }
    }

    .items {
        display: flex;
        align-items: center;

        .item {
            display: flex;
            align-items: center;
            margin-right: 20px;
            position: relative;

            .item a:hover {
                color: #fff;
                background: #3bb19b;
            }

            .icons {
                font-size: 20px;
                cursor: pointer;
            }

            .counter {
                width: 15px;
                height: 15px;
                background-color: red;
                border-radius: 50%;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                font-weight: bold;
                position: absolute;
                top: -5px;
                right: -5px;
            }

            li {
                list-style-type: none;
            }
        }
    }
}

